
h1{
    color:rgb(255, 255, 255);
}

h3{
    color:rgb(166, 184, 199);
    text-align:center;
}
body{
    background-color: rgb(26, 43, 50);
}

div.row{
    text-align:left;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
#carouselExample{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    top:50px;
    border-style:solid;
    border-color:white;
    border-width:10px;
}
#AboutJonasTitle{
    text-align:center;
    border-style:dashed;
}